{{#each errors}}
  <div class="col-md-4 mx-auto">{{text}}</div>
{{else}}
{{/each}}

<div class="card card-body">
  <h3>Edit BandTodo</h3>
  <form action="/bands/{{band.id}}?_method=PUT" method="post">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" name="title" type="text" value="{{band.title}}" required>
    </div>
    <div class="form-group">
      <label for="duedate">Due Date</label>
      <input class="form-control" name="duedate" type="text" value="{{band.dueDate}}">
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea class="form-control" name="details" required>{{band.details}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>